html {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    background-color: #f8f9fd;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fd;
}
.catalog {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.content-window {
    height: calc(100vh - 140px); 
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f9fd;
    width: 1000px;
    border-radius: 20px;
}

.content-container {
    flex-grow: 1; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    box-sizing: border-box; 
}
.scrollable-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px; 
}
.item-container-catalog {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7b88a1;
    color: #ffffff;
    width: calc(48% - 20px);
    margin: 20px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    height: 450px;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

@media (max-width: 473px) {
    .content-window {
        height: calc(100vh - 60px);
        padding: 10px;
    }
    .content-window {
        height: calc(100vh - 120px); 
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f8f9fd;
        width: 376px;
        border-radius: 15px;
    }
    .scrollable-content {
        flex-direction: column;
        align-items: center;
    }

    .item-container-catalog {
        width: 95%;
        max-width: 330px;
        height: auto;
        padding: 15px;
    }
    
    h3{
        word-wrap: break-word;
        padding-left: 20px;
    }

    .item-content-catalog {
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
        position: relative; 
    }
    .close-button-catalog{
        align-self: center; 
    }

    .flag-icon-catalog {
        position: absolute; 
        top: 10px; 
        right: 10px; 
        z-index: 2; 
        width: 30px;
        height: 30px; 
    }

    .item-img-catalog {
        width: 90%; 
        max-width: 200px; 
        height: auto;
        margin-top: 40px; 
        margin-bottom: 10px; 
    }

    .item-details-catalog {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 20px;
        box-sizing: border-box; 
    }

    .brand-name-catalog {
        font-size: 1.2rem; 
        margin-bottom: 10px; 
    }

    .shop-button-catalog {
        font-size: 1rem; 
        padding: 6px 10px; 
        margin-top: 5px; 
    }

    .links-header-catalog {
        font-size: 1.1rem; 
        font-weight: bold;
        color: #7b88a1;
        margin-bottom: 10px;
        text-align: center;
    }

    .link-item-catalog {
        max-width: 100%;
        word-wrap: break-word; 
        text-align: center; 
    }

    .link-item-catalog a {
        padding-left: 20px;
        color: #453b58;
        text-decoration: underline;
        font-weight: bold; 
    }
    
}


@media (max-width: 873px) {
    
    .links-container-catalog {
        display: flex;
        flex-direction: column; 
        background-color: #c3ccdd;
        border-radius: 15px;
        padding: 0px;
        width: auto; 
        gap: 10px; 
        height: auto; 
        box-sizing: border-box; 
        align-items: center; 
    }
    .flagged-container-catalog,
    .item-container-catalog {
        width: fit-content; 
        min-width: 300px; 
    }


    .links-header-catalog {
        font-size: 1rem; 
        font-weight: bold;
        color: #7b88a1;
        margin-bottom: 10px;
        text-align: center; 
    }

    .link-item-catalog {
        max-width: 100%;
        word-wrap: break-word;
        text-align: center; 
    }

    .link-item-catalog a {
        color: #453b58;
        text-decoration: none;
        word-wrap: break-word; 
        max-width: 100%;
    }


    
}


.reported-catalog {
    min-height: 450px; 
    height: 450px;
    width: calc(48% - 20px);
}

.item-content-catalog {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.item-img-catalog {
    width: 250px;
    height: auto; 
    border-radius: 10px;
    padding-top: 20px;
}

.item-details-catalog {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item-details-catalog h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.shop-button-catalog {
    background-color: #FFFFFF;
    color: #979FB0;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

.links-container-catalog {
    display: flex;
    flex-direction: column;
    background-color: #c3ccdd;
    border-radius: 15px;
    padding: 25px;
    width: 100%;
    align-items: flex-start;
    gap: 15px;
    height: 100%;
    min-width: 400px;
}

.links-header-catalog {
    font-size: 1.6rem;
    font-weight: bold;
    color: #7b88a1;
    margin-bottom: 10px;
}

.link-item-catalog {
    max-width: 100%;
}

.link-item-catalog a {
    color: #453b58;
    text-decoration: underline; 
    font-weight: bold; 
    transition: color 0.3s ease, transform 0.3s ease;
}
link-item-catalog a:hover {
    color: #1e0847; 
    transform: scale(1.1); 
    text-decoration: none; 
    cursor: pointer;
}

.flag-icon-catalog {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}

.flagged-container-catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 600px;
}

.reported-text-catalog {
    color: #FF0000;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.undo-button-catalog,
.close-button-catalog {
    background-color: #FFFFFF;
    color: #979FB0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

.brand-name-catalog {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-bottom: 10px; /* Add space below brand name if needed */
}

