* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.blue-background {
  background-color: #7B88A1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.purple-background {
  background-color: #5A4E71;
  width: 100%;
  height: 100%;
  position: absolute;
}

.stars-background {
  background-image: url('images/stars_background.png');
  background-size: cover;
  background-position: center;
  opacity: 0.3; 
  width: 100%;
  height: 100%;
  position: absolute;
}

.landing-container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.content {
  color: #E4E8E6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-icon {
  width: 100px; 
  margin-bottom: 20px; 
}

.logo-image {
  width: 500px; 
  margin-bottom: 10px;
  display: block;
}

.slogan {
  font-size: 2rem;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.button-container {
  display: flex; 
  gap: 10px; 
  justify-content: center; 
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .button-container {
    flex-wrap: wrap; 
    gap: 12px; 
  }

  .login-btn {
    width: 100%; 
    max-width: 300px; 
  }
}

.get-started-btn {
  background-color: #7B88A1;
  color: #E4E8E6;
  font-family: 'Verdana', sans-serif;
  font-size: 1.5rem;
  width: 300px;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.get-started-btn:hover {
  background-color: #717f9b;
}

.login-btn {
  background-color: #5A4E71;
  color: #E4E8E6;
  font-family: 'Verdana', sans-serif;
  font-size: 1.5rem;
  width: 300px;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.login-btn:hover {
  background-color: #473d5b;
}

.form-wrapper {
  background-color: #5A4E71; 
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 0 auto; 
  margin-top: 1rem;
}

.form-title {
  font-family: 'Verdana', sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.form-input {
  font-family: 'Verdana', sans-serif;
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.form-radio-group {
  font-family: 'Verdana', sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.form-radio-group label {
  font-family: 'Verdana', sans-serif;
  color: white;
  font-size: 1rem;
}

.form-link {
  color: #b7b4f0; 
  cursor: pointer;
  text-decoration: underline;
}

.form-link:hover {
  color: #9e9aec; 
}

.form-btn {
  width: 100%;
  font-family: 'Verdana', sans-serif;
  padding: 0.8rem;
  background-color: #5A4E71;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.form-btn:hover {
  background-color: #3f3550;
}

.finish-btn {
  width: 100%;
  font-family: 'Verdana', sans-serif;
  padding: 0.8rem;
  background-color: #8e9db8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.finish-btn:hover {
  background-color: #75829b;
}

@media (max-width: 768px) {  
  .landing-container {
    height: auto; 
    padding: 20px;
  }
  .content {
    align-items: center;
    text-align: center;
  }

  .logo-image {
    width: 50%; 
    margin-bottom: 20px;
  }

  .slogan {
    font-size: 1.5rem;
  }

  .get-started-btn {
    font-size: 1.2rem; 
    padding: 0.6rem 1.5rem; 
  }

  .star-icon {
    width: 80px; 
  }

  .background-container {
    background-size: cover; 
  }

  .star-icon {
    width: 80px; 
  }

  .logo-image {
    width: 70%; 
  }

  .get-started-btn {
    font-size: 1.2rem; 
    padding: 0.6rem 1.5rem; 
  }
}